
// ===================================================================================
//                                                                            Variable
//                                                                            ========

$font-size-small    : 10px;
$font-size-middle   : 14px;
$font-size-large    : 18px;

$color-theme        : #607D8B;  // DONE
$color-theme-sub    : #CFD8DC;  // DONE
$color-accent       : #FF9800;  // DONE
$color-bg           : #CFD8DC;  // DONE
$color-bg-light     : #FFFFFF;  // DONE
$color-bg-modal     : rgba(0, 0, 0, 0.7);
$color-text         : #727272;  // DONE
$color-text-light   : #FFFFFF;  // DONE
$color-link         : #999;
$color-link-hover   : #ccc;
$color-border       : #ccc;
$color-good         : #CDDC39;
$color-good-hover   : #CDDC89;
$color-bad          : #ccc;
$color-bad-hover    : #DEDEDE;

$width-container-micro  : 480px;
$width-container-small  : 590px;
$width-container-middle : 720px;
$width-container-large  : 960px;
$width-half-percent     : 50%;

$margin-micro       : 5px;
$margin-small       : 10px;
$margin-middle      : 50px;
$margin-large       : 100px;

$round-param        : 5px;

$icon-size          : 32px;

$border-common      : 1px solid $color-border;

// ===================================================================================
//                                                                               Mixin
//                                                                               =====

@mixin clear-fix {
  content: "";
  display: block;
  clear: both;
}

@mixin contents-base {
  background: $color-bg-light;
  border-radius: $round-param;
  width: $width-container-small - $margin-small * 2;
  padding: $margin-small;
  margin: 0 auto $margin-small;
}

// ===================================================================================
//                                                                              Common
//                                                                              ======

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color-theme;
  color: $color-text;
}

h1 {
  margin: 0;
  font-size: $font-size-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.sg-container {
  width: $width-container-large;
  margin: 0 auto;
}

// ===================================================================================
//                                                                              Header
//                                                                              ======

.sg-header {
  background: $color-theme;
  width: 100%;
  position: fixed;
  top: 0;
  padding: $margin-micro;
  z-index: 10;

  & ul:after {
    @include clear-fix;
  }

  & .sg-header-logo {
    float: left;

    & h1 {

      & a {
        color: $color-text-light;
        text-decoration: none;
      }
    }
  }

  & .sg-header-tweet {
    position: absolute;

    // for fix
    left: calc(50% - 32px);
    top: 3px;

    & a {
      display: block;
      width: $icon-size;
      height: $icon-size;
      background: $color-bg-light;
      border-radius: $icon-size;
      color: $color-accent;
      transition: all 0.2s ease;

      & i {
        position: relative;
        top: 4px;
        left: 9px;
      }

      &:hover {
        transform: rotateZ(360deg);
      }
    }
  }

  & .sg-header-signs {
    float: right;

    & ul {
      display: table;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: $margin-micro 0;

      & > li {
        display: table-cell;
        vertical-align: center;
        text-align: center;
      }
    }
  }
}


// ===================================================================================
//                                                                            Contents
//                                                                            ========

.sg-contents-cover {
  height: 400px;
  width: 100%;
  background-color: $color-theme;
  margin-top: -11px;
  margin-bottom: $margin-middle;
}

.sg-contents {
  width: 100%;
  background: $color-bg;
  padding: $margin-middle 0;
  min-height: 80%;

  &.sg-contents-separate {
    padding: 39px 0 0;
    margin: 0;
    display: table;
    table-layout: fixed;

    & > swt-detail, & > swt-iframe {
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: top;
    }
  }

  &:after {
    @include clear-fix;
  }

  & .sg-contents-tweet {
    @include contents-base;

    & input, & textarea {
      padding: $margin-micro;
      border: $border-common;
      width: calc(100% - 12px);
      margin-bottom: $margin-small;
    }

    & textarea {
      height: 0;
      opacity: 0;
      padding: 0;
      transition: all 0.5s ease;

      &.sg-contents-tweet-comment-show {
        height: 100px;
        opacity: 1;
        padding: $margin-micro;
      }
    }

    & .sg-contents-tweet-submit {
      text-align: right;

      & button {
        margin-left: $margin-small;
      }

      & .sg-contents-tweet-submit-invalid {
        color: $color-accent;
      }
    }
  }

  & .sg-contents-timeline {
    @include contents-base;
    transition: all 0.5s ease;

    & li {
      margin-bottom: $margin-middle;
      padding: 0 $margin-middle;
    }

    & dl {
      width: 100%;
      display: table;
      table-layout: fixed;
      margin-bottom: $margin-small * -1;
    }

    & dt {
      display: table-cell;
      vertical-align: center;
      text-align: center;
      width: 120px;
    }

    & dd {
      display: table-cell;
      vertical-align: center;
      position: relative;
    }

    & h1 {
      position: absolute;
      left: $margin-small;
      top: 6px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      & a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & .sg-contents-timeline-sort {
    display: table;
    table-layout: fixed;
    width: 100%;

    & > * {
      display: table-cell;
      text-align: center;
    }
  }

  & .sg-contents-timeline-comment {

    & dt {
      width: $icon-size + $margin-small * 2;
      position: relative;
      top: $margin-small;
    }

    & time {
      font-size: $font-size-small;
      display: block;
      text-align: right;
      margin: $margin-small 0;
    }
  }

  & .sg-contents-timeline-btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-top: $margin-small;

    & li {
      display: table-cell;
    }

    & a {
      display: block;
      width: 80px;
      position: relative;
      padding: $margin-small;
      border-radius: $round-param;
      color: $color-bg-light;
      text-decoration: none;
      margin: 0 auto;

      & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        padding: $margin-small;
        border-radius: $round-param;
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &.sg-contents-timeline-btn-good {
        background-color: $color-good;

        & span {
          background-color: $color-good-hover;
        }
      }

      &.sg-contents-timeline-btn-bad {
        background-color: $color-bad;

        & span {
          background-color: $color-bad-hover;
        }
      }

      &:hover span {
        opacity: 1;
      }
    }
  }

  & .sg-contents-detail {
    @include contents-base;
    width: calc(100% - 20px);
    margin: 0;
    border-radius: 0;

    & header {

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        text-align: right;
      }
    }
  }

  & .sg-contents-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: $color-bg-light;
  }

  & .sg-contents-modal {
    & > div {
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-bg-modal;
      z-index: 9;
      transition: opacity 0.5s ease;

      &.sg-contents-modal-bg {
        opacity: 1;
      }
    }

    & .sg-contents-modal-contents {
      @include contents-base;
      opacity: 1;
      margin: 0;

      // for fix
      max-height: 400px;
      top: $margin-large;
      left: calc(50% - 295px);

      & .sg-contents-modal-contents-header {
        margin-bottom: $margin-small;

        & h1 {
          text-align: center;
        }
      }

      & .sg-contents-modal-contents-raw {
        max-height: 300px;
        overflow: scroll;
        padding: 0 $margin-small 0 $margin-micro;

        & label, & input {
          display: block;
          width: 100%;
          margin-bottom: $margin-small;
        }
      }

      & .sg-contents-modal-contents-msg-sub {
        border-top: $border-common;
        margin-top: $margin-small;
        padding-top: $margin-small;
      }

      & .sg-contents-modal-contents-footer {
        & ul {
          display: table;
          table-layout: fixed;
          width: 100%;
          position: absolute;
          bottom: $margin-small;
        }

        & li {
          display: table-cell;
          vertical-align: center;
          text-align: center;
        }
      }
    }
  }
}

// ===================================================================================
//                                                                              Footer
//                                                                              ======

.sg-footer {
  padding: $margin-micro;
  text-align: center;
  color: $color-text-light;
  z-index: 10;
}
